@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Source+Sans+3:wght@200&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=family=Corinthia:wght@700&family=Open+Sans:wght@600&family=Source+Sans+3:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Lato:wght@900&family=Open+Sans:wght@600&family=Source+Sans+3:wght@200&display=swap');

html{

    
    /* font-family: 'Source Sans 3', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    
}

body{
    /* background-image: url("images/butterfly_background.jpg"); */
    background-color:  #04253a;
    color: white;
   
    

}

header{
   
    font-family: 'Lato', sans-serif;
    height: 15vh;
    background-color:  #052d46;
    margin-bottom: 1px;
    

}

h1{
    color: whitesmoke;
    text-shadow: white 1px 1px 2px;
    align-content: center;
    text-align: center;
    background-blend-mode: lighten;
    padding: 1px;
    font-size: 8vmin;
    margin-bottom: 1%;
    
    
}

h2{
    color: white;
    background-color:  #052d46;
    font-size: 6vmin;
}

h3{
    color: white;
    background-color:  #052d46;
    font-size: 2vmin;
}

nav{
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    align-items: center;
    width: 100%;

}

.nav-class{

    position: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0%;
    padding: 1%;
    background-color: rgb(31, 16, 126);
    
  

    
}


a{
    margin-right: 7%;
    margin-left: 7%;
    color: whitesmoke
}
/* .nav-text{
    margin-right: 7%;
    margin-left: 7%;
} */

.active{
background-color: slateblue;
color: lightblue;
}

a:hover{
    color: black;
    background-color: deepskyblue;
}


p{
    
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    font-size: medium;
    height: 5vh;
    position:right;
    

 
    
}

/* .bio-div{
   

} */

#my-pic{
    height: 20%;
    width:20%;
    position: left;
}

.bio-div {
    display: flex ;
    flex-direction: row;
    
    
}

.bio-div p{
    margin-left: 5%;
    margin-right: 5%
}

.form-message {
    text-align: center;
 
  
    
}

form {
    margin: 50px auto;
    padding-top: 1%;
    width: 70%;
    max-height: 50%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #FDDC5C;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FA4224;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #FDDC5C;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #FA4224;
    background-color: #FA4224;
    color: #FFF;
}

.form-item button {
    width: 100px;
}


footer{
    font-size:x-small;
    text-align: center;
    height: 5vh;
}

@media (max-width: 710px) {
    body {
        background-color: green;

    
    }

    .bio-div p {
        padding-bottom: 10px;
        height: 50%;
    }
    form {
        margin: 30px auto;
        padding-top: 2%;
        width: 60%;
        max-height: 45%;
    }
    
    .form-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
    }
    
    .form-item label {
        flex-basis: 100px;
        font-size: 14px;
    }
    
    .form-item input,
    .form-item textarea {
        flex-basis: 50%;
        border: 1px solid #FDDC5C;
    }
    
    .form-item input:hover,
    .form-item textarea:hover {
        border: 1px solid #FA4224;
    }
    
    .form-item input,
    .form-item textarea,
    .form-item button {
        border: 1px solid #FDDC5C;
        background-color: #FFF;
        padding: 1px;
        font-size: 15px;
    }
    
    .form-item button:hover {
        border: 1px solid purple;
        background-color: indigo;
        color: #FFF;
    }
    
    .form-item button {
        width: 85px;
    }
}